.cancha{
	background-color: #12C638;
    height: 600px;
    width: 1000px;
    
    position:relative;
}

.canchaChica{
    background-color:#12C638 ;
    border: 7px solid white;
    height: 500px;
    width: 900px;

    position: absolute;
    right:50px;
    top:50px;
}
.mitadCancha{
	background-color:#12C638 ;
    border: 7px solid white;
    height: 500px;
    width: 450px;

    position: absolute;
    right:-7px;
    top:-7px;
}
.arco1{
    background-color:#12C638 ;
    border: 7px solid white;
    height: 200px;
    width: 90px;

    position: absolute;
    left:-7px;
    top:150px;
}

.arco2{
    background-color:#12C638 ;
    border: 7px solid white;
    height: 200px;
    width: 90px;

    position: absolute;
    right:-7px;
    top:150px;
}

.centro{
     width: 200px;
     height: 200px;
     border-radius: 50% ;
     border: 7px solid white;
     background-color:#12C638 ;

     position:absolute;
     left:340px ;
     top:150px;
}

.pelota1{
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background-color: white ;
    box-shadow: 2px 2px 5px black;
     
    position:absolute;
    left:75px;
    top:158px;
}

.pelota2{
    width: 25px;
    height: 25px;
    border-radius: 50% ;
    background-color:white ;
    box-shadow: 2px 2px 5px black;
     
    position:absolute;
    left:480px;
    top:60px;
}

.pelota3{
    width: 25px;
    height: 25px;
    border-radius: 50% ;
    background-color:white ;
    box-shadow: 2px 2px 5px black;
     
    position:absolute;
    right:110px;
    bottom: 150px;
}